@import url("https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Inclusive+Sans:ital@0;1&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&family=Noto+Serif:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "AR One Sans", sans-serif, "Inclusive Sans";

  /*
  "Montserrat Alternates", sans-serif;
  "Roboto", sans-serif;
  "Montserrat", sans-serif;
  "Montserrat", sans-serif,
  sans-serif, 
    "Montserrat Alternates", sans-serif, "Roboto", sans-serif; */
}
.active {
  color: #eee82c;
  padding: 0.2em 0.5em;
  border-radius: 2rem;
}
.footer-media-link li:hover a svg path {
  fill: #60992d;
  transition: all 500ms ease-in;
}
.navlink {
  @apply hover:text-colorCta text-xl capitalize;
}
.animateBg {
  @apply transition-all duration-300 ease-in;
}
.smPadding {
  @apply py-2 px-2 md:px-8 md:py-8;
}
